<%= form_for @session, :html => { :class => 'form-horizontal' }  do |f| %>
<h2 class ="left-margin145"> Login </h2>
<div class="row left-margin145">
  <div class = "col-lg-2">
    <%= label_tag 'Username' %>
  </div>
  <div class = "col-lg-3 bottom-margin">
    <%= text_field_tag :email%>
  </div>
</div>
<div class="row left-margin145">
  <div class = "col-lg-2">
    <%= label_tag 'Password' %>
  </div>
  <div class = "col-lg-3 bottom-margin">
    <%= password_field_tag :password %>
  </div>
</div>
<div class="row left-margin145">
  <div class = "col-lg-6">
   <%= f.submit "Login", :class => 'btn btn-primary' %>
  </div>
</div>
<% end %>
