<%= form_for @order, :html => { :class => 'form-horizontal' } do |f| %>

<h1 class ="left-margin145"> Purchase deal of the day </h1>
<div class="row left-margin145">
  <div class = "col-lg-2">
    <%= f.label 'Title', :class => 'control-label' %>
  </div>
  <div class = "col-lg-3 bottom-margin">
    <%= f.text_field :title, :value => @latest_deal.title, :disabled => true, :class => 'form-control' %>
  </div>
</div>
<div class="row left-margin145">
  <div class = "col-lg-2">
    <%= f.label 'Description', :class => 'control-label' %>
  </div>
  <div class = "col-lg-3 bottom-margin">
    <%= f.text_field :description, :value => @latest_deal.description, :disabled => true, :class => 'form-control' %>
  </div>
</div>
<div class="row left-margin145">
  <div class = "col-lg-2">
    <%= f.label 'Price', :class => 'control-label' %>
  </div>
  <div class = "col-lg-3 bottom-margin">
    <%= f.text_field :discount, :value => @latest_deal.discounted_price, :disabled => true, :class => 'form-control' %>
  </div>
</div>
<div class="row left-margin145">
  <div class = "col-lg-2">
    <%= f.label 'After discount price', :class => 'control-label' %>
  </div>
  <div class = "col-lg-3 bottom-margin">
    <%= f.text_field :actual_price, :value => @discount_price, :disabled => true, :class => 'form-control' %>
  </div>
</div>
<div class="row left-margin145">
  <div class = "col-lg-2">
    <%= f.label 'Enter shipping address', :class => 'control-label' %>
  </div>
  <div class = "col-lg-3 bottom-margin">
    <%= f.text_field :shipping_address, :class => 'form-control' %>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-offset-3 col-lg-10">
   <%= link_to t('.Confirm'),
            orders_path, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            deals_path, :class => 'btn btn-default' %>
  </div>
</div>
<% end %>
