<%- model_class = Deal -%>
<div class ="container">
  <h1>All <%= model_class.model_name.human.pluralize.titleize %> </h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:title)%></th>
        <th><%= model_class.human_attribute_name(:description)%></th>
        <th><%= model_class.human_attribute_name(:quantity)%></th>
        <th><%= model_class.human_attribute_name(:publish_date)%></th>
      </tr>
    </thead>
    <tbody>
      <% @deals.each do |deal| %>
        <tr>
          <td><%= deal.id %></td>
          <td><%= deal.title %></td>
          <td><%= deal.description %></td>
          <td><%= deal.quantity %></td>
          <td><%= deal.publish_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="form-group">
      <div class="col-lg-12 bottom-margin">
        <%= link_to "+ Deal", new_deal_path, :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>