<h1 class ="left-margin145"> Create a deal </h1>
<%= form_for @deal, :html => { :class => "form-horizontal" } do |f| %>
  <div class = "container" >
    <div class = "row">
      <div class = "col-lg-2">
        <%= f.label :title, :class => 'control-label' %>
      </div>
      <div class = "col-lg-3 bottom-margin">
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
    </div>
    <div class = "row">
      <div class = "col-lg-2">
        <%= f.label :description, :class => 'control-label' %>
      </div>
      <div class = "col-lg-3 bottom-margin">
        <%= f.text_field :description, :class => 'form-control' %>
      </div>
    </div>
    <div class = "row">
      <div class = "col-lg-2">
        <%= f.label :price, :class => 'control-label' %>
      </div>
      <div class = "col-lg-3 bottom-margin">
        <%= f.text_field :price, :class => 'form-control' %>
      </div>
    </div>
    <div class = "row">
      <div class = "col-lg-2">
        <%= f.label :discounted_price, :class => 'control-label' %>
      </div>
      <div class = "col-lg-3 bottom-margin">
        <%= f.text_field :discounted_price, :class => 'form-control' %>
      </div>
    </div>
    <div class = "row">
      <div class = "col-lg-2">
        <%= f.label :quantity, :class => 'control-label' %>
      </div>
      <div class = "col-lg-3 bottom-margin">
        <%= f.text_field :quantity, :class => 'form-control' %>
      </div>
    </div>
    <div class = "row">
      <div class = "col-lg-2">
        <%= f.label :image, :class => 'control-label' %>
      </div>
      <div class = "col-lg-3 bottom-margin">
        <%= f.file_field :image, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= link_to t('.create_deal', :default => t("helpers.links.create_deal")),
                deals_path, :class => 'btn btn-primary' %>

        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                deals_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>

