<h2><center>Deal of the Day</center></h2>
<div class = "row">
  <h3><center><%= @deal_to_publish.title  %></center></h3>
</div>
<div class ="row">
  <h5><center><%= @deal_to_publish.description %></center></h5>
</div>
<div class="form-group">
  <div class="row">
    <% if @purchasable %>
      <center><%= link_to t('.buy_now'),
              new_order_path, :class => 'btn btn-default green-buy-button' %></center>
    <% end %>
  </div>
</div>
